- if @stages.count>0
  - @stages.each do |stage|
    .row.well
      .col-sm-4
        .h3= stage.title
    - games = @team.games_in_stage(stage.id).sort_by {|g| [g.tour_id || 0, g.date || 0, g.time || 0]}
    - if games.any?
      %table.table.table-stripped.table-hover
        %thead
          %tr
            %th #
            %th Матч
            %th Счет
            %th Дата
            %th Время

        %tbody
          -games.each do |game|
            %tr
              - unless game.tour_id.nil?
                %td #{game.tour_id}-й тур
              - else
                %td
              %td= link_to(game.title, edit_champ_stage_game_path(@champ, stage, game.id))
              %td= game.game_scores
              %td= game.date_text
              %td= game.time_text
