.row
  %ul.breadcrumb
    %li= link_to 'Соревнования', champs_path
    %li= link_to @champ.full_title, champ_path(@champ.id)
    %li= @team.title

.row
  .col-sm-6
    %h3
      = image_tag(@team.team_logo.logo.url(:mini)) if @team.team_logo.present?
      = @team.title