.well.row
  %ul.breadcrumb
    %li= link_to 'Соревнования', champs_path
    %li= link_to @champ.title, edit_champ_path(@champ.id)
    %li= @team.title
  %hr
  .row
    .col-sm-6
      .h2= @team.title
    .col-sm-2.pull-right
      = link_to "Просмотр", champ_team_path(@champ, @team), class: "btn btn-primary"

= render partial: 'form',  locals: {form_action: champ_team_path(@champ, @team)}