.row
  %ul.breadcrumb
    %li= link_to 'Соревнования', champs_path
    %li= link_to @champ.full_title, edit_champ_path(@champ.id)
    %li= @team.title

.row
  .col-sm-6
    %h2= @team.title
  .col-sm-4.pull-right.top20
    = link_to "Редактировать", edit_champ_team_path(@champ, @team), class: "btn btn-primary pull-right"


%ul.nav.nav-tabs.top20
  %li.active
    %a{href: '#games', 'data-target' => '#games', 'data-toggle'=>'tab'} Календарь
  %li
    %a{href: '#players', 'data-target' => '#players', 'data-toggle'=>'tab'} Игроки


.tab-content
  .tab-pane.active#games
    = render partial: 'team_games'
  .tab-pane#players
    = render partial: 'players_list', locals:{mode: :show}
