= form_for @champ, html: {class: 'form form-horizontal'} do |f|
  .form-group
    %label.col-sm-2 Название
    .col-sm-6
      = f.text_field :title, class: 'form-control'
  .form-group
    %label.col-sm-2 Формат
    .col-sm-2
      = f.select :champ_type, Champ.type, {}, { class: 'chosen-select' }
  .form-group
    %label.col-sm-2 Описание
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .form-group
    %label.col-sm-2 Статус
    .col-sm-4
      = f.select :status, Champ.status, {}, { class: 'chosen-select' }

  .form-group
    %label.col-sm-2 Приоритет турнира
    .col-sm-4
      = f.text_field :order_priority, class: 'form-control'
  .form-group
    %label.col-sm-2 Лимит желтых карточек
    .col-sm-4
      = f.text_field :y_cards_limit, class: 'form-control'
  .form-group
    %label.col-sm-2 Группа турниров
    .col-sm-10
      = f.text_field :group_key, class: 'form-control'
  .form-group
    %label.col-sm-2 Стиль заголовка
    .col-sm-4
      = f.select :label_css_schema, Champ::LABEL_CSS_SCHEMAS, {}, { class: 'chosen-select' }
    .col-sm-4
      #label-example.panel.short-table{class: @champ.label_css_schema}
        .panel-heading
          .panel-title
            .label#champ_type= @champ.champ_type
            =link_to @champ.title, champ_path(@champ)

  .form-group
    .col-sm-12
      - unless @champ.new_record?
        = link_to 'Удалить', champ_path(@champ), method: :delete, class: 'btn btn-danger pull-right', confirm: 'Подтвердите удаление'
      = f.submit 'Сохранить', class: 'btn btn-success'
      %a.btn.btn-default{href: request.referer} Отмена