.row.well
  .col-sm-3
    .h2 Этапы
  .col-sm-2.pull-right
    = link_to "Добавить этап", new_champ_stage_path(@champ), class: "btn btn-default pull-right"

- if @champ.stages.any?
  %table.table.table-stripped.table-hover
    %thead
      %tr
        %th #
        %th Название
        %th Формат
        %th Статус
    %tbody
      - @champ.stages.each_with_index do |stage, i|
        %tr
          %td= i+1
          %td= link_to(stage.title, edit_champ_stage_path(@champ.id, stage.id))
          %td= stage.stage_type
          %td= stage.status
- else
  %p Пока нет ни одного этапа