= render partial: 'champ_title'
= render partial: 'champ_tabs'

.gray-title.h4.top15 Общая информация
= render 'form'

.gray-title.h4 Этапы
- if @champ.stages.any?
  %table.table.table-stripped.table-hover
    %thead
      %tr
        %th #
        %th Название
        %th Формат
        %th Статус
    %tbody
      - @champ.stages.each_with_index do |stage, i|
        %tr
          %td= link_to(i+1, edit_champ_stage_path(@champ.id, stage.id))
          %td= link_to(stage.title, edit_champ_stage_path(@champ.id, stage.id))
          %td= stage.stage_type
          %td= stage.status
- else
  %p Пока нет ни одного этапа
- if can? :manage, Champ
  = link_to "Добавить этап", new_champ_stage_path(@champ), class: "btn btn-success"
