= render partial: 'champ_title'
= render partial: 'champ_tabs'

- stages = @champ.stages.includes(:games)
- if stages.count>0
  - stages.each do |stage|
    .row
      .col-sm-9
        %h3= stage.title
    = render partial: 'shared/stage_schedule', locals: {stage: stage}
    - if can? :manage, Game
      = link_to "Добавить матч", new_champ_stage_game_path(@champ, stage), class: "btn btn-success"