.row
  %ul.breadcrumb
    %li= link_to 'Турниры', champs_path
    %li= @champ.title
.row
  .col-sm-10
    %h2= @champ.title
  .col-sm-2.pull-right.top20
    = link_to "Редактировать", edit_champ_path(@champ), class: "btn btn-primary"

%ul.nav.nav-tabs.top20
  %li.active
    %a{href: '#table', 'data-target' => '#table', 'data-toggle'=>'tab'} Таблица
  %li
    %a{href: '#schedule', 'data-target' => '#schedule', 'data-toggle'=>'tab'} Календарь
  %li
    %a{href: '#stats', 'data-target' => '#stats', 'data-toggle'=>'tab'} Статистика

.tab-content
  .tab-pane.active#table
    = render partial: 'teams_table', locals: {mode: :show}
  .tab-pane#schedule
    = render partial: 'games_table', locals: {mode: :show}
  .tab-pane#stats
