.row
  .col-sm-12
    %ul.breadcrumb
      %li= link_to 'Турниры', champs_path
      %li= @champ.full_title
.row
  .col-sm-9
    %h3
      .label.label-default#champ_type= @champ.champ_type
      = @champ.title
  .col-sm-3.pull-right.top20
    = link_to "Редактировать", edit_champ_path(@champ), class: "btn btn-primary pull-right"

%ul.nav.nav-tabs.top20
  %li.active
    %a{href: '#table', 'data-target' => '#table', 'data-toggle'=>'tab'} Таблица
  %li
    %a{href: '#schedule', 'data-target' => '#schedule', 'data-toggle'=>'tab'} Календарь
  %li
    %a{href: '#stats', 'data-target' => '#stats', 'data-toggle'=>'tab'} Игроки

.tab-content
  .tab-pane.active#table
    = render partial: 'teams_table', locals: {mode: :show}
  .tab-pane#schedule
    = render partial: 'games_table', locals: {mode: :show}
  .tab-pane#stats
    = render partial: 'shared/champ_players_table', locals: {players: @champ.players, options: [:team]}
