= render partial: 'champ_title'
= render partial: 'champ_tabs'

- if @champ.teams.any?
  %table.table.table-stripped.table-hover
    %thead
      %tr
        %th #
        %th Название
        %th И
        %th В
        %th Н
        %th П
        %th М
        %th O
    %tbody
      - @champ.teams.order("points DESC, win DESC, title").each_with_index do |team, index|
        %tr{class: ('text-crossed' if team.status=='снята')}
          %td= index+1
          %td= link_to(team.title, champ_team_path(@champ, team.id))
          %td= team.win+team.lose+team.draw
          %td= team.win
          %td= team.draw
          %td= team.lose
          %td= "#{team.scored} - #{team.missed}"
          %td= team.points

- if can? :manage, Champ
  = link_to "Добавить команду", new_champ_team_path(@champ), class: "btn btn-success"