= form_for @contract, url: form_action, html: {class: 'form form-horizontal'} do |f|
  .form-group
    .col-sm-12
      %label Добавить игроков
      = f.collection_select :player_ids, Player.all.to_a - @champ.players+@team.players, :id, :full_name,
        {selected: @team.player_ids}, {multiple: true, class: 'chosen-select' }

  .form-group
    .col-sm-12
      - unless @contract.new_record?
        = link_to 'Удалить', champ_contract_path(@champ,@team, @contract), method: :delete, class: 'btn btn-danger pull-right', confirm: 'Подтвердите удаление'
      = f.submit 'Заявить', class: 'btn btn-success customtext'
      %a.btn.btn-default{href: request.referer} Отмена

:coffee
  window.champ_id = #{@champ.id}