- if contracts.any?
  %table.table.table-stripped.table-hover.sortable
    %thead
      %tr
        %th ФИО
        - if options.include?(:team)
          %th Команда
        %th Игры
        %th= image_tag('/pict/ball.png', size: '18')
        %th= image_tag Game.cards[:yellow]
        %th= image_tag Game.cards[:red]
        -if options.include?(:birthday)
          %th Дата рождения, options: []
        - if @team.present? && options.include?(:joined)
          %th Заявлен
    %tbody
      - contracts.sort_by{ |c| [-c.goals, (c.player.surname if c.player.present?) || true] }.each do |contract|
        - next if contract.player.nil?
        - class_name = 'danger' if contract.disq_games > 0
        %tr{class: class_name}
          %td= link_to contract.player.short_name, player_path(contract.player_id)
          - if options.include?(:team)
            %td
              = link_to team_title_with_logo(contract.team), champ_team_path(@champ, contract.team)
          %td= contract.games
          %td= contract.goals
          %td= contract.y_cards + contract.dbl_cards
          %td= contract.r_cards + contract.dbl_cards
          -if options.include?(:birthday)
            %td= pretty_date contract.player.birthdate, :slashes
          - if @team.present?  && options.include?(:joined)
            %td= pretty_date contract.join_date, :slashes