.row.week-carousel
  .col-sm-1.pull-left
    %a{href: week_calendar_path(week: @week_number-1)}
      .glyphicon.glyphicon-chevron-left
  .col-sm-10.text-center
    = week_dates(@week_number+1)
  .col-sm-1.pull-right
    %a{href: week_calendar_path(week: @week_number+1)}
      .glyphicon.glyphicon-chevron-right

.week-games
  - Champ.active.each do |champ|
    - games = champ.week_games(@week_number)
    - if games.any?
      .wg-item
        .wg-champ-title
          .col-sm-12.h4.text-center.bottom10.top15
            = link_to champ.title, champ_path(champ)
        - games.sort_by{ |x| [x.date, x.time] }.each do |game|
          .wg-game
            %a{href: champ_stage_game_path(champ, game.stage, game), class: 'btn'}
              .time.pull-left #{game.date_text(:month, true)}, #{game.time_text}
              .title_with_scores
                .home-team
                  = team_title_with_logo(game.home_id, :right)
                .score
                  = game.game_scores
                .visiting-team
                  = team_title_with_logo(game.visiting_id, :left)
              .place.pull-right
                = game.place


