.week-games
  - Champ.active.each do |champ|
    - games = champ.week_games
    - if games.any?
      .wg-item
        .wg-champ-title
          .col-sm-12.h4.text-center.bottom10.top15
            = link_to champ.title, champ_path(champ)
        - games.sort_by{ |x| [x.date, x.time] }.each do |game|
          .wg-game
            %a{href: champ_stage_game_path(champ, game.stage, game), class: 'btn'}
              .time.pull-left
                = game.time_text
              .title_with_scores
                .home-team
                  = team_title(game.home_id)
                  = team_logo(game.home_id)
                .score
                  = game.game_scores
                .visiting-team
                  = team_logo(game.visiting_id)
                  = team_title(game.visiting_id)
              .date.pull-right
                = game.date_text(:month)

