%ul.breadcrumb.row
  %li= link_to 'Соревнования', champs_path
  %li= link_to @champ.full_title, champ_path(@champ.id)
  %li= @stage.title
  %li= @game.title

= render partial: 'teams_block'

%h4.gray-title Составы команд
.row.top10
  .col-sm-6
    = render partial: 'list', locals: {team: @home_team}
  .col-sm-6
    = render partial: 'list', locals: {team: @visiting_team}