%ul.breadcrumb.row
  %li= link_to 'Соревнования', champs_path
  %li= link_to @champ.full_title, champ_path(@champ.id)
  %li= @stage.title
  %li= @game.title

= render partial: 'teams_block'

%h4.gray-title Составы команд
.top10
  .col-sm-6
    = render partial: 'finished_players',
      locals: {from: 'home', player_ids: @game.home_players, team: @game.home_team}
  .col-sm-6
    = render partial: 'finished_players',
      locals: {from: 'visiting',player_ids: @game.visiting_players, team: @game.visiting_team}