= form_for @game, url: form_action, html: {class: 'form form-horizontal'} do |f|
  = f.hidden_field :stage_id
  .form-group
    .row
      .col-sm-3
        %label Хозяева
        = f.select :home_id, @champ.teams.map {|t| [t.title, t.id]}, {include_blank: true}, { class: 'chosen-select' }

      .col-sm-1
        .scorebox
          = f.text_field :home_scores, {class: 'score_field mask-number'}
      &nbsp
      .col-sm-1
        .scorebox
          = f.text_field :visiting_scores, {class: 'score_field mask-number'}
      .col-sm-3
        %label Гости
        = f.select :visiting_id, @champ.teams.map {|t| [t.title, t.id]}, {include_blank: true}, { class: 'chosen-select' }
  .form-group
    %label.col-sm-1 Тур
    .col-sm-3
      = f.select :tour_id, tours_titles(@stage).map {|item| [item, item.split('-')[0].to_i]},
                 {include_blank: true}, { class: 'chosen-select' }
  .form-group
    %label.col-sm-1 Дата
    .col-sm-3
      = f.text_field :date, class: 'form-control datepicker'
    %label.col-sm-1 Время
    .col-sm-3
      = f.time_select :time, start_hour: 9, end_hour: 23, minute_step: 5
  .form-group
    %label.col-sm-1 Место
    .col-sm-4
      = f.select :place, Game::PLACES, {include_blank: true}, { class: 'chosen-select' }

  - unless @game.new_record?

    %h3.gray-title Составы команд
    .row
      .col-sm-6
        = render partial: 'players', locals: {team: @game.home_team, players:@home_players, from: 'home'}
      .col-sm-6
        = render partial: 'players', locals: {team: @game.visiting_team, players:@visiting_players, from: 'visiting'}

  =f.hidden_field :yellow_cards
  =f.hidden_field :dbl_yellow_cards
  =f.hidden_field :red_cards
  =f.hidden_field :home_players
  =f.hidden_field :visiting_players
  =f.hidden_field :player_scores

  .form-group
    .col-sm-12
      - unless @game.new_record?
        = link_to 'Удалить', champ_stage_game_path(@champ,@stage,@game), method: :delete, class: 'btn btn-danger pull-right', confirm: 'Подтвердите удаление'
      = f.submit 'Сохранить', class: 'btn btn-success'
      %a.btn.btn-default{href: request.referer} Отмена


