- if team.present?
  .row.text-center
    .h4= team.title
- if players.present?
  %table.table.table-stripped.table-hover
    %thead
      %tr
        %th= check_box_tag "players_all", 1, false, 'from'=>".#{from}_players"
        %th ФИО
        %th= image_tag('/pict/ico_yellow_red_card.png')
        %th= image_tag('/pict/ball.png', size: '18')
    %tbody
      - players.each_with_index do |player, index|
        - disq = Contract.find_by(team_id: team.id, player_id: player.id).disq_games > 0
        - leftteam = !player.current_teams.include?(team)
        - class_name = ''
        - class_name += 'text-crossed' if leftteam
        - class_name += 'text-crossed danger' if disq
        %tr{class: class_name }
          %td= check_box_tag "player_#{player.id}", 1, fetch_players(from, player.id), 'player-id'=> player.id,
            class: "#{from}_players", disabled: leftteam || disq
          %td= link_to player.short_name, player_path(player.id),
            'player-id'=> player.id, class: ('inactive' unless fetch_players(from, player.id))
          %td= image_tag Game.cards[fetch_card(@game, from, player.id)],
            {class: 'cards_pict', card: fetch_card(@game, from, player.id), 'player-id'=> player.id,
            yellow: Game.cards[:yellow], red: Game.cards[:red], dbl_yellow: Game.cards[:dbl_yellow], no: Game.cards[:no]}
          %th= text_field_tag "scores_player_#{player.id}", @game.player_goals(player.id, from), 'player-id'=> player.id, class: 'ball-count mask-number',
            disabled: !fetch_players(from, player.id)