%ul.breadcrumb.row
  %li= link_to 'Соревнования', champs_path
  %li= link_to @champ.title, edit_champ_path(@champ.id)
  %li= link_to @stage.title, edit_champ_stage_path(@champ, @stage)
  %li= @game.title

.well.row
  - home_link = visiting_link = "?"
  -if @game.home_id.present?
    - home_link = "#{link_to Team.find(@game.home_id).title, champ_team_path(@champ.id, @game.home_id)}"
  -if @game.visiting_id.present?
    - visiting_link = "#{link_to Team.find(@game.visiting_id).title, champ_team_path(@champ.id, @game.visiting_id)}"

  .h2!=  "#{home_link} - #{visiting_link}"

= render partial: 'form', locals: {form_action: champ_stage_game_path(@champ, @stage, @game)}

:coffee
  $('form').submit (event) ->
    ids =
    $( ".cards_pict[card='yellow']" ).map () ->
      $(this).attr('player-id');
    .get()
    $('#game_yellow_cards').val(ids)

    ids =
    $( ".cards_pict[card='dbl_yellow']" ).map () ->
      $(this).attr('player-id');
    .get()
    $('#game_dbl_yellow_cards').val(ids)

    ids =
    $( ".cards_pict[card='red']" ).map () ->
      $(this).attr('player-id');
    .get()
    $('#game_red_cards').val(ids)

    ids =
    $( ".home_players:checked" ).map () ->
      $(this).attr('player-id');
    .get()
    $('#game_home_players').val(ids)
    ids =
    $( ".visiting_players:checked" ).map () ->
      $(this).attr('player-id');
    .get()
    $('#game_visiting_players').val(ids)

    ids = []
    $( ".ball-count" ).each () ->
      el = $(this)
      if el.val()!='' && el.val()!=undefined
        item = el.attr('player-id') + "#" + el.val()
        ids.push(item)
    $('#game_player_scores').val(ids)

  $(".home_players, .visiting_players").change () ->
    target = $(this).attr('player-id')
    tr = $(this).closest('tr')
    if $(this).prop("checked") == false
      object = tr.find(".cards_pict[player-id='"+target+"']")
      cards_toggle(object, 'no')
      tr.find("a[player-id='"+target+"']").addClass('inactive')
      tr.find("input[type=text][player-id='"+target+"']").val('')
      tr.find("input[type=text][player-id='"+target+"']").prop('disabled', true)
    else
      tr.find("a[player-id='"+target+"']").removeClass('inactive')
      tr.find("input[type=text][player-id='"+target+"']").prop('disabled', false)

  $("input[type='checkbox'][name='players_all']").change () ->
    target = $(this).attr('from')
    if $(this).prop("checked")
      $(target).prop('checked', true)
      $(target).trigger('change')
    else
      $(target).prop('checked', false)
      $(target).trigger('change')
