- if contracts.any?
  %table.table.table-stripped.table-hover
    %thead
      %tr
        %th Команда
        %th Турнир
        %th= current == true ? 'Заявлен' : 'Период'

    %tbody
      - contracts.each do |contract|
        %tr
          - next if contract.team.nil?
          %td= link_to contract.team.title, champ_team_path(contract.champ.id, contract.team.id)
          %td= link_to contract.champ.full_title, champ_path(contract.champ.id)
          %td= current == true ? pretty_date(contract.join_date) : "#{pretty_date(contract.join_date)} - #{pretty_date(contract.leave_date)}"
          - if can? :manage, Contract
            - if current == false
              %td= link_to "Удалить запись", "/contracts/destroy/#{contract.id}",
                data: {confirm: "Удалить?"},class: "btn btn-xs btn-danger pull-right"
            - else
              %td= link_to "Отзаявить", "/contracts/close/#{contract.id}",
                data: {confirm: "Отзаявить?"},  class: "btn btn-xs btn-primary pull-right"