= form_for @player, url: form_action, html: {class: 'form form-horizontal'} do |f|
  .form-group
    .col-sm-4
      %label Фамилия
      = f.text_field :surname, class: 'form-control',  :autofocus=>true
    .col-sm-3
      %label Имя
      = f.text_field :name, class: 'form-control'
    .col-sm-4
      %label Отчество
      = f.text_field :middlename, class: 'form-control'
  .form-group
    %label.col-sm-4 Дата рождения
    .col-sm-3
      = f.text_field :birthdate,
                     :value => "#{@player.birthdate.present? ? l(@player.birthdate, :format => :slashes) : ''}",
                     :class => 'form-control datemask'
  .form-group
    %label.col-sm-4 Игровой номер
    .col-sm-3
      = f.text_field :number, class: 'form-control'
  - if @player.new_record?
    .form-group
      .col-sm-12
        %label Команда
        = collection_select :contract, :team_ids, Champ.teams_for_contract, :id, :title_with_champ,
                  {selected: @champ_id, include_blank: true}, {class: 'chosen-select' }
  - unless @player.new_record?
    %h4.gray-title Заявлен
    = render partial: 'contracts_list', locals: {contracts: @player.current_contracts, current: true}
    - if @player.old_contracts.any?
      %h4.gray-title Предыдущие команды
      = render partial: 'contracts_list', locals: {contracts: @player.old_contracts, current: false}
  .form-group
    .col-sm-12
      - unless @player.new_record?
        = link_to 'Удалить', player_path(@player), method: :delete, class: 'btn btn-danger pull-right', confirm: 'Подтвердите удаление'
      = f.submit 'Сохранить', class: 'btn btn-success'
      %a.btn.btn-default{href: request.referer} Отмена