.well.row
  %ul.breadcrumb
    %li= link_to 'Все игроки', players_path
    %li= @player.full_name
  %hr
.row
  .col-sm-10
    .h2= @player.full_name
  .col-sm-2.pull-right
    = link_to "Редактировать", edit_player_path(@player), class: "btn btn-primary"
.row
  -if @player.birthdate.present?
    .form-group
      .col-sm-6
        %label Дата рождения:
        = l(@player.birthdate, :format => :long)
  = render 'contracts_list'