.row
  %ul.breadcrumb
    %li= link_to 'Все игроки', players_path
    %li= @player.full_name
.row
  .col-sm-9
    %h3= @player.full_name
  .col-sm-3.pull-right.text-right.top20
    = link_to "Редактировать", edit_player_path(@player), class: "btn btn-primary btn-sm"
.row
  -if @player.birthdate.present?
    .form-group
      .col-sm-6
        %label Дата рождения:
        = l(@player.birthdate, :format => :long)
%h4.gray-title Заявлен
= render partial: 'contracts_list', locals: {contracts: @player.current_contracts, current: true}
%h4.gray-title Предыдущие команды
= render partial: 'contracts_list', locals: {contracts: @player.old_contracts, current: false}