.row.well
  .col-sm-4
    .h3 Календарь
  .col-sm-2.pull-right
    = link_to "Добавить", new_champ_stage_game_path(@champ, @stage), class: "btn btn-default pull-right"

-if @stage.games.any?
  - tour_ids= @stage.games.select(:tour_id).group(:tour_id).collect(&:tour_id).sort
  - tour_ids.each do |tour_id|
    - games = @stage.games.where(tour_id: tour_id).sort_by {|g| [g.tour_id, g.date, g.time]}
    - if games.any?
      .h4.well.row #{tour_id}-й тур
      %table.table.table-stripped.table-hover
        %thead
          %tr
            %th Матч
            %th Счет
            %th Дата
            %th Время

        %tbody
          -games.each do |game|
            %tr
              %td= link_to(game.title, edit_champ_stage_game_path(@champ, @stage, game.id))
              %td= game.game_scores
              %td= game.date_text
              %td= game.time_text
- else
  - if @stage.stage_type == 'круг'
    %h3 Генерация матчей по круговой системе:
    .row
      .col-sm-9
        1.
        = link_to "Первый круг", ring_games_generate_champ_stage_path(@champ, @stage)
      .col-sm-2.pull-right
    %hr
    .row
      .col-sm-3
        2.
        = link_to "Второй круг на основе", "#", class: 'swap-gen'
      .col-sm-3
        = select_tag "parent_stage", options_from_collection_for_select(@champ.stages, 'id', 'title'), { class: 'chosen-select' }
    %hr
:coffee
  $ ->
    $('.swap-gen').click (event) ->
      event.preventDefault()
      window.location.href = "#{ring_games_swap_from_stage_champ_stage_path}"+"?parent_stage="+$('#parent_stage').val()