- @posts.each do |post|
  .post-block
    .post-date
      = l(post.created_at, format: :long)
    .post-title
      - if can? :manage, @post
        = link_to post.title, edit_post_path(post)
      - else
        = post.title

    .post-text
      != post.text

= will_paginate @posts, :previous_label => 'Туда', :next_label => 'Сюда', renderer: BootstrapPagination::Rails