.panel.panel-default.short-table
  .panel-heading
    .panel-title
      =link_to champ.title, champ_path(champ)

  .panel-body
    - if champ.teams.any?
      %table
        %thead
          %tr
            %th #
            %th Название
            %th И
            %th М
            %th O
        %tbody
          - champ.teams.order("points DESC").each_with_index do |team, index|
            %tr{class: ('text-crossed' if team.status=='снята')}
              %td= index+1
              %td= link_to(team.title, champ_team_path(champ, team.id))
              %td= team.win+team.lose+team.draw
              %td= "#{team.scored} - #{team.missed}"
              %td= team.points
