!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Зеленоградский футбол'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Greenfootball'}"}
    = stylesheet_link_tag "application", media: "all"
    = favicon_link_tag '/ball-green.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"

    = csrf_meta_tags
  %body
    .container
      .head
        = render 'layouts/navigation'
      - if @show_right_panel
        .col-md-8
          #main-container
            = render 'layouts/messages'
            = yield
        .col-md-4
          #right-panel
            = render 'layouts/tables'
      - else
        .col-md-12
          #main-container
            = render 'layouts/messages'
            = yield



- if Rails.env.production?
  = render 'layouts/yandex'
