!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Зеленоградский футбол'
    %meta{:name => "Description", :content => "Зеленоградский футбол, минифутбол, футбол 8 на 8, футбол 11 на 11. Расписание матчей, статистика, новости"}
    %meta{:name => "Keywords", :content => "футбол, Зеленоград, минифутбол, расписание матчей, статистика"}
    = stylesheet_link_tag "application", media: "all"
    = favicon_link_tag '/ball-green.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"

    = csrf_meta_tags
  %body
    .container
      .head
        = render 'layouts/navigation'
      - if @show_right_panel
        .col-md-8
          #main-container
            = render 'layouts/messages'
            = yield
        .col-md-4
          #right-panel
            = render 'shared/tables'
            = render 'shared/news_block'
      - else
        .col-md-12
          #main-container
            = render 'layouts/messages'
            = yield
    .footer
      .counters
        - if Rails.env.production?
          = render 'layouts/yandex'
          = render 'layouts/google'
      .text-center.footer-text
        zel-football.ru
      .footer-date
        = I18n.l(Time.now, format: :short)







